*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
                        /* HEADER */
header{
    padding: 20px;
    
}

.brand {
    font-size: 40px;
    vertical-align: top;
    font-weight: 650;
    font-family: Sans-serif;
}