*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
                        /* HEADER */
header{
    padding: 20px;
    
}

.brand {
    font-size: 40px;
    vertical-align: top;
    font-weight: 650;
    font-family: Sans-serif;
}
                            /* MAIN */
main{
    background-color: lightgray;
    padding: 10%;
}
.container{
    margin: auto;
    padding: 10px 20px;
}
   
.bottoni{
    background-color: white;
    padding: 10px 30px;
    border-radius: 5px;
}

.press {
    padding: 10px;
    border-radius: 7px;
    
}

.task{
    background-color: #47adf1;
    color: white;
    list-style-type: none;
}
    
.section{
    background-color: white;
    color: gray;
    
}


.lista{
    background-color: white;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 2px;
}